<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the Home Page</h1>
    <p>Click <a href="/logout">here</a> to logout</p>
    <h1 style="color:red;"><%- 1+1 %></h1>
    <h1 style="color: blue;"><%- name %></h1>
</body>
</html>
    <!-- This is a simple HTML page with a heading, paragraph and a link -->
    <!-- The link points to /logout, which is the route that logs the user out -->
    <!-- The user can click on the link to logout and be redirected to the login page -->
    <!-- The user can also navigate to the about page by clicking on the link in the navigation bar -->     